.profile {
    display: flex;
    padding-top: 70px;
    &-container {
        background: rgb(53, 36, 36);
    }
    &-socials {
        margin-top: 10px;
        a {
            color: rgb(230, 200, 200);
            margin-right: 10px;
        }
    }

    &-text {
        font-size: 16px;
        align-self: center;
        color: rgb(230, 200, 200);
        h1,
        h2 {
            margin-bottom: 0;
            text-transform: uppercase;
        }

        p {
            line-height: 1.8;
            @media only screen and (max-width: 900px) {
                text-align: center;
            }
        }
        @media only screen and (max-width: 900px) {
            flex-direction: column;
            text-align: center;
        }
    }
    &-photoID {
        max-width: 247px;
        height: 240px;
        align-self: center;
        border-radius: 50%;
        margin-right: 30px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    @media only screen and (max-width: 900px) {
        flex-direction: column;
    }
}
